
<h1>Recipes</h1>
<br/>
<div class="row">
  <% @recipes.each do |recipe| %>
      <div class="col-sm-6">
        <div class='card'>
          <div class='card-header'>
            <h1><%= recipe.recipe_name %></h1>
          </div>
          <div class='card-body'>
            <p><%= recipe.description %></p>
            <%= link_to 'Show', recipe, class:'card-link' %>
          </div>
        </div><br/>
      </div><br/>
  <% end %>
</div><br/>

<div class="d-grid gap-2 col-6 mx-auto">
<%= link_to 'New Recipe', new_recipe_path, class:'btn btn-outline-success btn-large' %>