<div class="card">
  <div class="card-header">
    <h1>New Recipe</h1>
  </div>
  <div class="card-body"><br/>
    <%= render 'form', recipe: @recipe %><br/>
    <%= link_to 'Back', recipes_path, class:'btn btn-outline-secondary' %>
  </div>
</div>

