<div class="card">
  <div class="card-header">
    <h1>New Recipe</h1>
  </div>
  <div class="card-body"><br/>
    <%= render 'form', recipe: @recipe %>
  </div>
    <%= link_to 'Back', recipes_path %>
</div>

